build/
build-*/
out/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json

*.user
*.autosave
.qtc_clangd/
.cache/
.vs/
.vscode/
.idea/

*.obj
*.o
*.a
*.lib
*.exe
*.dll
*.dylib
*.so
*.pdb
*.ilk
*.exp

3rdparty/*
!3rdparty/.gitkeep
!3rdparty/CMakeLists.txt

install/*
!install/.gitkeep
